PORT=3000
NODE_ENV=development

POSTGRES_DB=web_proj
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/web_proj?schema=public"

JWT_ACCESS_SECRET="dev_access_secret_change_me"
JWT_REFRESH_SECRET="dev_refresh_secret_change_me"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="30d"

